{% extends 'base.html' %}
{% load jformat %}
{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item"><a href ="{% url 'blog:blog' %}">Blog</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ post.slug }}</li>
{% endblock breadcrumb %}

{% block content %}
<br>

<div class="container bg-light shadow px-3 py-4 rounded">

  {% if post.image %}
    <img class="align-self-center rounded mt-2 shadow-sm" src="{{ post.image.url }}" alt="{{ post.title }}" style="width:100%">
  {% endif %}
  {% comment %} <img src="{{ post.image.url }}" alt="{{ post.image.title }}" class="d-flex mx-auto rounded shadow-sm" width="200"> {% endcomment %}
    <div class="row pt-3">
        <div class="col-12 col-md-5">
            <h3 class="text-left">{{ post.title }}</h3>
        </div>
        <div class="col-12 col-md-7 d-flex justify-content-end mb-md-0 mb-3">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
        </svg> {{ post.author}} </span>
            <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg> {{ post.created_at | jformat:" %d / %B / %y - %H:%M" }}</span>
            <Spam class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            </svg> {{ post.get_accepted_comments_count }}</Spam>
            <Spam class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-textarea-t" viewBox="0 0 16 16">
                <path d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v3.563a2 2 0 0 1 0 3.874V13.5A1.5 1.5 0 0 1 13 15H3a1.5 1.5 0 0 1-1.5-1.5V9.937a2 2 0 0 1 0-3.874V2.5zm1 3.563a2 2 0 0 1 0 3.874V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V9.937a2 2 0 0 1 0-3.874V2.5A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v3.563zM2 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                <path d="M11.434 4H4.566L4.5 5.994h.386c.21-1.252.612-1.446 2.173-1.495l.343-.011v6.343c0 .537-.116.665-1.049.748V12h3.294v-.421c-.938-.083-1.054-.21-1.054-.748V4.488l.348.01c1.56.05 1.963.244 2.173 1.496h.386L11.434 4z"/>
              </svg> {{ post.body|wordcount }} words </Spam>
        </div>
    </div>  

    <p>{{ post.body|safe }}</p>
</div>

<br>
</br>

<div class="container bg-light shadow px-3 py-4 rounded">
    <h4 class="text-muted">comments</h4>
    <hr>
    {% if comments %}
    {% for comment in comments %}
    <div class="alert alert-primary" role="alert">
        {% if comment.is_hidden %}
        <h4>user</h4>
        {% else %}
        <h4>{{ comment.user.user.get_full_name|default:"unknown" }}</h4>
        {% endif %}
        <p>{{ comment.body }}</p>
    </div>
    {% endfor %}

    {% else %}
    no comment yet:)
    {% endif %}  
</div>
<br>
</br>
{% endblock content %}